.cdk-column-rank {
    flex: 0 0 50px;
}

.cdk-column-location {
    flex: 0 0 60px;
}

.cdk-column-games {
    flex: 0 0 95px;
}

.cdk-column-negativeRep {
    flex: 0 0 85px;
}

.cdk-column-positiveRep {
    flex: 0 0 80px;
}

.cdk-column-totalGames {
    flex: 0 0 75px;
}

.cdk-column-winRatio {
    flex: 0 0 60px;
}

.cdk-column-dropRatio {
    flex: 0 0 65px;
}