:host {
    width: 100%;
    height: 100%;
    display: block;
}

.cdk-column-commentRequired {
    flex: 0 0 115px;
}

.cdk-column-total {
    flex: 0 0 70px;
}

.cdk-column-actions {
    flex: 0 0 110px;
}