<center-spinner *ngIf="loading"></center-spinner>
<table *ngIf="!loading" style="width: 100%; height: 100%; border-collapse: collapse;">
    <tr>
        <td colspan="1" style="height: 1px; padding-left: 5px; padding-top: 5px; padding-bottom: 10px;">
            <button md-button class="primaryButton" (click)="openSaveReputationDialog(null)">Add New</button>
        </td>
    </tr>
    <tr>
        <td style="height: 1px;"><div style="font-size: 18px; padding-left: 5px;">Negative Reputations</div></td>
        <td style="height: 1px;"><div style="font-size: 18px;">Positive Reputations</div></td>
    </tr>
    <tr>
        <td style="width: 50%; vertical-align: top; padding-left: 7px; padding-right: 3px;">
            <div style="width: 100%; height: 100%; overflow: auto;">
                <md-table [dataSource]="negativeReputationsDataSource" class="noTablePadding">
                    <ng-container cdkColumnDef="name">
                        <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
                        <md-cell *cdkCellDef="let reputation">{{reputation.name}}</md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="commentRequired">
                        <md-header-cell *cdkHeaderCellDef>Comment Required</md-header-cell>
                        <md-cell *cdkCellDef="let reputation" style="text-align: center;">
                            <md-checkbox *ngIf="reputation.commentRequired" [checked]="true" [disabled]="true"></md-checkbox>
                            <md-checkbox *ngIf="!reputation.commentRequired" [checked]="false" [disabled]="true"></md-checkbox>
                        </md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="total">
                        <md-header-cell *cdkHeaderCellDef>Assignments</md-header-cell>
                        <md-cell *cdkCellDef="let reputation" style="text-align: center;">{{reputation.total}}</md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="actions">
                        <md-header-cell *cdkHeaderCellDef></md-header-cell>
                        <md-cell *cdkCellDef="let reputation">
                            <i class="material-icons md-24 clickable" mdTooltip="Move Up" (click)="moveUp(reputation)">arrow_drop_up</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Move Down" (click)="moveDown(reputation)">arrow_drop_down</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Edit" (click)="openSaveReputationDialog(reputation)">edit</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Delete">delete_forever</i>
                        </md-cell>
                    </ng-container>
                    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *cdkRowDef="let reputation; columns: displayedColumns;"></md-row>
                </md-table>
            </div>
        </td>
        <td style="width: 50%; vertical-align: top; padding-left: 3px; padding-right: 7px;">
            <div style="width: 100%; height: 100%; overflow: auto;">
                <md-table [dataSource]="positiveReputationsDataSource" class="noTablePadding">
                    <ng-container cdkColumnDef="name">
                        <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
                        <md-cell *cdkCellDef="let reputation">{{reputation.name}}</md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="commentRequired">
                        <md-header-cell *cdkHeaderCellDef>Comment Required</md-header-cell>
                        <md-cell *cdkCellDef="let reputation" style="text-align: center;">
                            <md-checkbox *ngIf="reputation.commentRequired" [checked]="true" [disabled]="true"></md-checkbox>
                            <md-checkbox *ngIf="!reputation.commentRequired" [checked]="false" [disabled]="true"></md-checkbox>
                        </md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="total">
                        <md-header-cell *cdkHeaderCellDef>Assignments</md-header-cell>
                        <md-cell *cdkCellDef="let reputation" style="text-align: center;">{{reputation.total}}</md-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="actions">
                        <md-header-cell *cdkHeaderCellDef></md-header-cell>
                        <md-cell *cdkCellDef="let reputation">
                            <i class="material-icons md-24 clickable" mdTooltip="Move Up" (click)="moveUp(reputation)">arrow_drop_up</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Move Down" (click)="moveDown(reputation)">arrow_drop_down</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Edit" (click)="openSaveReputationDialog(reputation)">edit</i>
                            <i class="material-icons md-24 clickable" mdTooltip="Delete">delete_forever</i>
                        </md-cell>
                    </ng-container>
                    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *cdkRowDef="let reputation; columns: displayedColumns;"></md-row>
                </md-table>
            </div>
        </td>
    </tr>
</table>