.cdk-column-rank {
    flex: 0 0 50px;
}

.cdk-column-totalGames {
    flex: 0 0 75px;
}

.cdk-column-winRatio {
    flex: 0 0 60px;
}

.cdk-column-dropRatio {
    flex: 0 0 65px;
}

.cdk-column-reputation {
    flex: 0 0 150px;
}

.cdk-column-comment {
    flex: 0 0 150px;
}