<h2 md-dialog-title>Delete Reputation</h2>
<md-dialog-content style="width: 600px;">
    <center-spinner *ngIf="loading"></center-spinner>
    <div *ngIf="!loading">
        <div style="font-size: 18px; margin-bottom: 20px;">Are you sure you want to delete this migration type? By default all the reputations that have been assigned under this type will be deleted as well. Optionally you can migrate existing reputations to other reputation type.</div>
        <md-checkbox [checked]="migrateReputations" [(ngModel)]="migrateReputations">
            Migrate Existing Reputations
        </md-checkbox>
        <md-select placeholder="Migrate Existing Reputations To" style="width: 100%; margin-bottom: 20px; margin-top: 20px;" [disabled]="!migrateReputations" [(ngModel)]="selectedReputationId">
            <md-option *ngFor="let reputation of allReputations" [value]="reputation.id">{{reputation.name}}</md-option>
        </md-select>
    </div>
</md-dialog-content>
<md-dialog-actions *ngIf="!loading">
    <button md-raised-button class="primaryButton" style="margin-left: auto;" (click)="delete()">Delete</button>
    <button md-raised-button style="margin-left: 5px; margin-right: auto;" [md-dialog-close]="false">Cancel</button>
</md-dialog-actions>