.cdk-column-reputationType {
    flex: 0 0 120px;
}

.cdk-column-added {
    flex: 0 0 90px;
}

.cdk-column-comment {
    flex: 0 0 150px;
}

.cdk-column-actions {
    flex: 0 0 30px;
}

.cdk-column-joined {
    flex: 0 0 90px;
}