<center-spinner *ngIf="loading"></center-spinner>
<div *ngIf="!loading" style="padding: 10px;">
    <md-slide-toggle style="display: block;" color="primary" [checked]="conf.showOverlay" [(ngModel)]="conf.showOverlay">Show overlay</md-slide-toggle>
    <md-slide-toggle style="display: block; margin-top: 10px;" color="primary" [checked]="conf.showOverlayWhenFocused" [(ngModel)]="conf.showOverlayWhenFocused">Show overlay only when the game is focused</md-slide-toggle>
    <md-slide-toggle style="display: block; margin-top: 10px;" color="primary" [checked]="conf.showOverlayWhenInLobby" [(ngModel)]="conf.showOverlayWhenInLobby">Show overlay only when you are in lobby (<strong>you must start the session before joining or hosting a lobby, otherwhise overlay won't be shown</strong>)</md-slide-toggle>
    <div style="font-size: 20px; margin-top: 10px; margin-bottom: 5px;">Overlay Position</div>
    <div style="display: inline-block; width: 200px;">
        <div style="font-size: 16px; margin-bottom: 5px;">When game is active</div>
        <md-input-container style="display: inline-block; width: 50px;">
            <input mdInput="number" placeholder="Top" [value]="overlayActiveTopPosition" [(ngModel)]="overlayActiveTopPosition">
        </md-input-container>
        <md-input-container style="display: inline-block; width: 50px;">
            <input mdInput="number" placeholder="Left" [value]="overlayActiveLeftPosition" [(ngModel)]="overlayActiveLeftPosition">
        </md-input-container>
    </div>
    <div style="display: inline-block; width: 200px;">
        <div style="font-size: 16px; margin-bottom: 5px;">When game is inactive</div>
        <md-input-container style="display: inline-block; width: 50px;">
            <input mdInput="number" placeholder="Top" [value]="overlayInactiveTopPosition" [(ngModel)]="overlayInactiveTopPosition">
        </md-input-container>
        <md-input-container style="display: inline-block; width: 50px;">
            <input mdInput="number" placeholder="Left" [value]="overlayInactiveLeftPosition" [(ngModel)]="overlayInactiveLeftPosition">
        </md-input-container>
    </div>
    <div style="text-align: center;">
        <button md-raised-button class="primaryButton" (click)="save()">Save</button>
    </div>
</div>